.search-bar-container {
  position: relative;
  width: 100%;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
}

.clear-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #999;
  position: absolute;
  right: 110px; /* Adjust this value to position the "X" button */
  top: 50%;
  transform: translateY(-50%);
}

.clear-button:hover {
  color: #333;
}

.search-button {
  padding: 10px;
  border-radius: 0 4px 4px 0;
  border: none;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #45a049;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100
}