@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

.navbar {
  background-color: #333;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  color: #fff;
  font-size: 20px;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links.active {
  display: block;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links li:last-child {
  margin-right: 0;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.hamburger-icon {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
  }

  .navbar-toggle {
    display: block;
  }
}
  