.filter-container {
  display: flex;
  padding: 5px;
  border-radius: 5px;
  background-color: slategray; 
}

.filter {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.filter label {
  color: white; 
  margin-bottom: 5px;
}

.filter select {
  background-color: transparent; 
  color: black; 
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
