.filter-container {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  background-color: slategray; /* Slate color background */
}

.filter {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.filter label {
  color: white; /* Ensure the text is readable */
  margin-bottom: 5px;
}

.filter select {
  background-color: transparent; /* Remove background color */
  color: black; /* Use black or your preferred text color */
  border: 1px solid #ccc; /* Light border */
  border-radius: 3px;
  padding: 5px;
  appearance: none; /* Remove default styling of select */
  -webkit-appearance: none;
  -moz-appearance: none;
}
